img {
    object-fit: cover;

}


.container-gallery {
    width: 100%;
    height: 20rem;
    border: 1px solid;
    border-color: red;
    display: flex;
    background-color: white
}



.gallery {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.row1 {
    text-align: center;
    height: 70%;
}

.row2 {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.list-group-item {
    margin: 5px;
    border-radius: 20%;
}




button {
    width: 30%;
    height: 3rem;
}