<div class="container-gallery">
    <div class="gallery">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}"
            [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                </div>
            </ng-template>
        </p-galleria>
        <p-galleria [value]="allImages" [(visible)]="displayBasic2" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
            [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>

        </p-galleria>
        <button class="button-images p-button-outlined p-button-rounded p-button-secondary" pButton type="button"  label="All images"
            (click)="displayBasic2 = true"></button>
    </div>
    <div class="description">
        <div class="row1">
            <h2>{{producto.nombre}}</h2>
            <h2>{{producto.precio | currency:'$': 'symbol':'0.0' }}</h2>
            <button class="btn-buy btn btn-outline-primary" routerLink="/cart">Comprar</button>
        </div>
        <div class="row2">

            <h4>Sizes</h4>
            <ul class="talles" >
                <li *ngFor="let talle of producto.talles" >{{talle}}</li>
            </ul>

        </div>


    </div>
</div>